* /MUST WRITE/
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body/MUST WRITE/
{
    width: 100%;
}

/*body {
    background-color: rgba(228, 223, 223, 0.276);
}*/



.navbar
    {
    background-color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
}

.navbar ul {
    display: inline-block;
    margin-left: 330px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    margin-left: 25px;
    align-items: center;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 649;
    transition: all .5s;
}

.navbar ul li a:hover {
    color: rgb(3, 188, 3);
}

.navbar ul .navbar-icons {
    margin-left: 25px;
    border-left: 1px solid gray;
}

.navbar ul .navbar-icons a {
    margin-left: 15px;
    font-size: 17px;
    font-weight: 500;
}

.navbar-logo 
    {
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 90px;
}

.navbar .fa {
    color: gray;
    transition: all .5s;
}

.navbar .fa:hover {
    color: rgb(3, 188, 3);
}



.banner {
    height: 610px;
    background-image: url("https://bootstrapmade.com/demo/templates/Company/assets/img/slide/slide-1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    border-top: 5px solid #1bbd36;
    width: 700px;
    height: 250px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.574);
    color: white;
}

.banner-content p {
    font-size: 17px;
    margin-top: 13px;
    margin-bottom: 50px;
}

.banner-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.banner-button a {
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    border: 2px solid #1bbd36;
    border-radius: 5px;
    font-weight: bold;
    word-spacing: 3px;
    transition: all .8s;
}

.banner-button a:hover {
    background-color: #1bbd36;

}



.listing {
    border:2px solid red;
    margin: 50px 80px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

.listing-content {
    border:2px solid green;
    margin: 20px;
    padding: 10px;
    width: 600px;
}

.listing-content h1 {
    font-size: 42px;
    color: rgb(44, 40, 40);
    font-family: "Roboto", sans-serif;
}

.listing-content h3 {
    font-size: 23px;
    color: rgba(0, 0, 0, 0.654);
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
}

.listing-content ul {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(94, 88, 88);

}

.listing-content p {
    color: rgb(94, 88, 88);
}

.listing-content .p-italic {
    font-style: italic;
}

.listing-content ul li 
{
    margin-top: 12px;
    list-style-type: none;
    color: rgb(94, 88, 88);
}

.listing-content ul li .fa 
{
    color: #1bbd36;
}


.jsp-cards {
    /* border: 2px solid red; */
    margin: 50px 80px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgba(220, 220, 220, 0.404);
}

.jsp-cards .card {
    /* border: 2px solid green; */
    width: 305px;
    height: 325px;
    margin: 20px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: all .8s;
}

.jsp-cards .card:hover {
    box-shadow: 2px 2px 50px 1px lightgray;
}

.jsp-cards .card .card-content {
    /* border: 2px solid purple; */
    text-align: center;
    padding: 10px;
}

.jsp-cards .card .card-content h3 {
    margin-top: 10px;
    margin-bottom: 10px;
   
}

.jsp-cards .card .card-content p {
    font-size: 13px;
    color: gray;
}

.jsp-cards .card .card-content i {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 100%;
    padding-top: 8px;
    font-size: 25px;
    background-color: rgba(211, 211, 211, 0.399);
    transition: all .6s;
}

.fa-dribbble
{
    color:blue;
}
.fa-file-text-o
{
    color: orange;
}
.fa-tachometer
{
    color:crimson;
}
.fa-database
{
    color:yellow;
}
.fa-desktop
{
    color: orangered;
}
.fa-archive
{
    color:aquamarine;
}
.jsp-cards .card:hover .fa-dribbble
{
    background-color: blue;
    color: white;
}
.jsp-cards .card:hover .fa-file-text-o
{
    background-color: orange;
    color:white;
}

.jsp-cards .card:hover .fa-tachometer
{
    background-color: crimson;
    color:white;
}
.jsp-cards .card:hover .fa-database
{
    background-color:yellow;
    color:white;
}
.jsp-cards .card:hover .fa-desktop
{
    background-color:orangered ;
    color:white;
}
.jsp-cards .card:hover .fa-archive
{
    background-color: aquamarine;
    color: white;
}


.products
{
    height:60px;
    background-color: white;
}
.products .products-list
{
    width:260px;
    padding:15px;
    display: flex;
    justify-content: center;
    margin-left: 580px;
}
.products .products-list a
{
    text-decoration: none;
    text-transform: uppercase;
    color:black;
    padding:5px 20px;
    border-radius: 4px;

}
.products .products-list .all
{
    background-color: rgba(25, 199, 25,0.979);
    color: white;  
}
.products .products-list a:hover
{
    background-color: rgba(25, 199, 25,0.979);
    color: white;
}

.products-images
{
   /* border: 2px solid red;*/
    padding:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin:50px 80px;
}

.products-images .images img
{
    border: 2px solid blue;
    width:300px;
    height:auto;
    opacity:1;
}

.products-images .images .product-note
{
    border: 2px solid green;
    width:250px;
    margin-left:20px;
    position: relative;
    bottom:90px;
    padding:12px;
    background-color:white;
}
.products-images .images .product-note p
{
    margin-top: 5px;
}

.product-note
{
    visibility: hidden;
    transition: all .5s;
}
.products-images .images:hover .product-note
{
    visibility: visible;
}



title
{
    height:40px;
}
.logo-title {
    text-align: center;
    padding-bottom: 0px;
    margin: 50px 80px;
}
.logo-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.logo-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #1bbd36;
    bottom: 0;
    left: calc(50% - 25px);
}


/* Jspiders logo starts */
.jsp-logos {
    /* border: 2px solid red; */
    margin: 50px 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}

.jsp-logos .logo {
    border: 1px solid lightgray;
    width: 240px;
    padding:20px;
    text-align: center;
}

.jsp-logos .logo img {
    width: 50%;
    height: 50%;
    filter: grayscale(100%);
    transition: all 1s;
}

.jsp-logos .logo:hover img {
    transform: scale(1.1);
    filter: none;
}

.jsp-logos .logo1,
.jsp-logos .logo2,
.jsp-logos .logo3 {
    border-right: none;
    border-bottom: none;
}

.jsp-logos .logo4 {
    border-bottom: none;
}

.jsp-logos .logo5,
.jsp-logos .logo6,
.jsp-logos .logo7 {
    border-right: none;
}

/* Jspiders logo ends */

/* Footer Starts */

.footer {
    /* border: 2px solid red; */
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background-color:#111;
    color: white;
    padding: 50px;
}

.footer-div1,
.footer-div2,
.footer-div3 {
    /* border: 2px solid green; */
    width: 250px;
    padding: 5px;
    margin: 10px;
}

.footer-div4 {
    /* border: 2px solid blue; */
    width: 400px;
    padding: 5px;
    margin: 10px;
}
.footer-div2 a,
.footer-div3 a{
    text-decoration: none;
    color: white;
    list-style-type: none;
}
.footer-div2 ul li,
.footer-div3 ul li
{
    list-style-type: none;
    margin-top: 10px;
}
.footer-div1 .para
{
    margin-top: 10px;
    margin-bottom: 20px;
}

.fa-chevron-right
{
    color: #1bbd36;
    font-size: 10px;
}
.footer-div4 p
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-div4 .subscribe
{
    /* border: 2px solid yellow; */
    padding: 2px;
    position: relative;
}
.footer-div4 .subscribe input
{
    width: 100%;
    padding: 7px;
    outline: none;
    border: none;
    border-radius: 4px;
}
.footer-div4 .subscribe  button
{
    padding: 7px;
    outline: none;
    border: none;
    background-color: #1bbd36;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    position: absolute;
    right: 0;
    border-radius:0px 4px 4px 0px;
}
/* Footer Ends */



.bottom
{
    padding-top:25px ;
    padding-bottom: 25px;
    background-color: black;
    width: 100%;
}

.bottom .bottom-text
{
    margin:auto;
    color:#fff;
    font-size: 14px;
    padding:0px 120px;
}

.bottom-text .bottom-div1
{
    padding-top: 6px;
}
.bottom-text .bottom-div2
{
    padding-top: 6px;
    font-size: 13px;
}
.bottom-text .bottom-div2 a
{
    text-decoration: none;
}

.bottom .sm-links
{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin-right: 160px;
   
}
.bottom .sm-links a i
{
    font-size: 18px;
    display:inline-bock;
    background-color:rgba(255, 255, 255, 0.08);
    color:#fff;
    line-height: 1;
    text-align: center;
    padding:8px 0px;
    margin-right: 4px;
    border-radius: 4px;
    text-decoration: none;
    width:36px;
    height:36px;
}

.bottom .sm-links a i:hover
{
    color: #1bbd36;
    transition: all .3s;
}
